# > 神舟租车 - ZUCHE
^https?:\/\/apiproxy\.zuche\.com\/action\/carrctapi\/brand\/area\/advertising url reject
^https?:\/\/apiproxy\.zuche\.com\/action\/carrctapi\/order\/appStartInit url reject-dict
^https?:\/\/apiproxy\.zuche\.com\/resource\/cardes\/toufang\/marketing url reject-dict
^https?:\/\/apiproxy\.zuche\.com\/resource\/cardes\/guide url reject-dict
^https?:\/\/apiproxy\.zuche\.com\/resource\/carrctapi\/base\/versionInfo url reject-dict
^https?:\/\/apiproxy\.zuche\.com\/resource\/carrctapi\/order\/homeCommonTips url reject-dict

hostname = apiproxy.zuche.com