# > 东方航空 - CEAIR
^https?:\/\/app\.ceair\.com\/customize\/security\/update url reject-200
^https?:\/\/app\.ceair\.com\/customize\/main\/(?>adScreen|shopping) url reject-dict
^https?:\/\/app\.ceair\.com\/itinerary\/home\/trip\/advertisement url reject-dict

hostname = app.ceair.com