# > 上海银行 - BOSC
host-suffix, pmbanalysis.bosc.cn, reject


^https?:\/\/pmbservice\.bosc\.cn:\d+\/mgw url script-response-header https://raw.githubusercontent.com/zirawell/R-Store/main/Res/Scripts/AntiAd/mgw.js

hostname = pmbservice.bosc.cn
