# > 易捷加油 - EJOY
^https?:\/\/a\.sinopecsales\.com\/app\/cms url reject-dict
^https?:\/\/a\.sinopecsales\.com\/app\/wff\/ url reject-array
^https?:\/\/a\.sinopecsales\.com\/app\/layout\/image\/xfq url reject-img
^https?:\/\/a\.sinopecsales\.com\/app\/update\/(?>AppOpenConfig|AppVersion) url reject-dict

hostname = a.sinopecsales.com