# > 南方航空<微信小程序> - CSAIR
^https?:\/\/wxapi\.csair\.com\/mini\/api\/advertisement\/ url reject
^https?:\/\/wxapi\.csair\.com\/mini\/api\/adVerTiSing\/(?!getPersonalCenterAdList) url reject-dict
^https?:\/\/extra\.csair\.com\/extraClient\/data\/mytrip\/getTripAdvertisement url reject

hostname = wxapi.csair.com, extra.csair.com