# > 阿基米德 - AJMIDE
# 移除阿基米德FM开屏广告
^https?:\/\/(?>a|s)\.ajmide\.com\/v\d\/get_init_config url jsonjq-response-body 'if (.data?.loading_img? and (.data.loading_img|type=="array") and (.data.loading_img|length>0)) then (.data.loading_img=[(.data.loading_img[0] | .imgpath="https://upload-qn.ajmide.com/__splash_pixel.png")]) else . end'
# 移除阿基米德FM搜索框推广
^https?:\/\/(?>a|s)\.ajmide\.com\/v\d\/get_(?>search_keywords|search_home|bar_img) url jsonjq-response-body 'if (.data? and ((.data|has("hotImg")) or (.data|has("hotKeywords")) or (.data|has("hotPrograms")) or (.data|has("boCaiList")) or (.data|has("adInfo")))) then (del(.data.hotImg) | .data.hotKeywords=[] | .data.hotPrograms=[] | .data.boCaiList=[] | .data.adInfo=[]) elif (.data? and (.data|has("search_bar_banner"))) then del(.data.search_bar_banner) elif (.data? and (.data|has("list"))) then (.data.list=[]) else . end'
# 移除阿基米德FM多余tab
^https?:\/\/(?>a|s)\.ajmide\.com\/v\d\/index_tab url jsonjq-response-body 'if (.data|type=="array") then (.data = ([.data[] | select(((.tab_id|tostring)=="2") or (.tab_name=="听广播"))] | map(.position="1" | .fixed="1"))) else . end'
# 移除阿基米德FM听广播页面推广
^https?:\/\/(?>a|s)\.ajmide\.com\/(?>v\d\/get_(?>radio_station|live_bocai)|index\.php\?r=program(%2F|\/)radio-station-top-list) url jsonjq-response-body 'if (.data? and (.data|type=="object") and (.data|has("radioList"))) then (.data={radioList:.data.radioList}) elif (.data? and (.data|type=="object") and (.data|has("img_path"))) then (.data.img_path="" | .data.schema="" | .data.title="" | .data.resource_id="" | .data.topicId=0) elif (.data? and (.data|type=="array")) then (.data=[]) else . end'

hostname = a.ajmide.com, s.ajmide.com