# > MStand<微信小程序> - MSTAND
^https?:\/\/wechat-api-dj\.mstand\.cn\/scrm\/app\/mdm\/index\/listAdv\?types=(?!1&) url reject-dict
^https?:\/\/wechat-api-dj\.mstand\.cn\/scrm\/mini\/app\/index\/info url script-response-body https://raw.githubusercontent.com/zirawell/R-Store/main/Res/Scripts/AntiAd/wechatApplet.js
^https?:\/\/wechat-api-dj\.mstand\.cn\/system\/dms\/dmsAdSetting\/issue url reject-dict

hostname = wechat-api-dj.mstand.cn