# > 智慧云停车管家<微信小程序> - BAHECLOUD
host, pro.dajuhl.com, reject
host, djad.nmgyhxxkj.cn, reject


^https?:\/\/www\.bahecloud\.com\/webapi\.asmx\/api_GetAdvCmdCode url reject

hostname = www.bahecloud.com
