# > 淘宝 - TAOBAO
host-suffix, apoll.m.taobao.com, reject
host-suffix, w.m.taobao.com, reject
host-suffix, re.m.taobao.com, reject
host-suffix, re.taobao.com, reject
host-suffix, agoodm.m.taobao.com, reject
host-suffix, ai.taobao.com, reject
host-suffix, api.waptest.taobao.com, reject
host-suffix, dsp.simba.taobao.com, reject
host-suffix, fav.simba.taobao.com, reject
host-suffix, m.simba.taobao.com, reject
host-suffix, mclick.simba.taobao.com, reject
host-suffix, redirect.simba.taobao.com, reject
host-suffix, simba.m.taobao.com, reject
host-suffix, srd.simba.taobao.com, reject
host-suffix, temai.taobao.com, reject
host-suffix, textlink.simba.taobao.com, reject
host-suffix, unitacs.m.taobao.com, reject
host-suffix, adashx4yt.m.taobao.com, reject
host-suffix, tns.simba.taobao.com, reject
host-suffix, click.mz.simba.taobao.com, reject
host-suffix, click.simba.taobao.com, reject
host-suffix, click.tz.simba.taobao.com, reject
host-suffix, stat.simba.taobao.com, reject
host-suffix, m-adash.m.taobao.com, reject
host-suffix, adashbc.m.taobao.com, reject
host-suffix, ut.taobao.com, reject
host-suffix, tunion-api.m.taobao.com, reject
host-suffix, acs4baichuan.m.taobao.com, reject


^https?:\/\/acs\.m\.taobao\.com\/gw\/mtop\.etao\.noah\.query\/.+tao_splash url reject
^https?:\/\/acs\.m\.taobao\.com\/gw\/mtop\.alimama\.etao\.config\.query\/.+?etao_advertise url reject
^https?:\/\/acs\.m\.taobao\.com\/gw\/mtop\.alibaba\.advertisementservice\.getadv url reject-dict
^https?:\/\/acs\.m\.taobao\.com\/gw\/mtop\.alimusic\.common\.mobileservice\.startinit url reject-dict
^https?:\/\/acs\.m\.taobao\.com\/gw\/mtop\.o2o\.ad\.gateway\.get url reject-dict
^https?:\/\/acs\.m\.taobao\.com\/gw\/mtop\.taobao\.idle\.home\.welcome url reject-dict
^https?:\/\/acs\.m\.taobao\.com\/gw\/mtop\.trip\.activity\.querytmsresources url reject-dict
^https?:\/\/guide-acs\.m\.taobao\.com\/gw\/mtop\.taobao\.(volvo\.secondfloor\.getconfig|wireless\.home\.newface\.awesome\.get) url reject-dict
^https?:\/\/guide-acs\.m\.taobao\.com\/gw\/mtop\.taobao\.(cloudvideo\.video\.query|wireless\.home\.splash\.awesome\.get) url script-response-body https://raw.githubusercontent.com/zirawell/R-Store/main/Res/Scripts/AntiAd/taobao.js
^https?:\/\/poplayer\.template\.alibaba\.com\/\w+\.json url script-response-body https://raw.githubusercontent.com/zirawell/R-Store/main/Res/Scripts/AntiAd/taobao.js

hostname = acs.m.taobao.com, guide-acs.m.taobao.com, poplayer.template.alibaba.com
