# > 招商永隆银行 - CMBWL
^https?:\/\/m2\.cmbwinglungbank\.com(:\d+)?\/mgw url script-request-header https://raw.githubusercontent.com/zirawell/R-Store/main/Res/Scripts/AntiAd/mgw.js

hostname = m2.cmbwinglungbank.com